<h1>Discounts</h1>

<div class="add_discount_form">
  <h2>Add New Discount:</h2>

<%= render partial: "layouts/partials/discount_form" %>

</div>

<h2>All Discounts:</h2>
<% @discounts.each do |discount| %>
  <div id="discount-<%= discount.id %>">
    <h3>Percentage: <%= discount.percentage %>%</h3>
    <h3>Quantity: <%= discount.quantity %></h3>
    <%= link_to "Edit Discount", "/merchant/discounts/#{discount.id}", method: :patch %>
    <%= link_to "Delete Discount", "/merchant/discounts/#{discount.id}", method: :delete %>
  </div>
<% end %>

